<!DOCTYPE html>
<html lang="en">
<head >
  {% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
<title>{% block title %} {% endblock %} </title>
<style media="screen">
.nav-item{
  color: #fff;
}
</style>

  {% endblock %}
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    {% block nav %}
    <a class="navbar-brand" href='{{url_for("index")}}'>Catalog</a>
    <ul class ="nav ">
      {% if 'username' not in session %}
        <li class= "nav-item">
          <form class="form-inline" action="{{url_for('login')}}"  method="POST">
              <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
                  </li>
     {% else %}
     <li class="nav-item">
            <a class="nav-link" href="{{url_for('newRecipe')}}"> Create </a>
          </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('myRecipe')}}"> My Recipes </a>
           </li>

        <li class="nav-item">
              <a class="nav-link" href="{{url_for('gdisconnect')}}"> Logout </a>
           </li>
      {% endif %}

    </ul>

    {% endblock %}
  </nav>


{% block content %}



{% endblock %}






{% block scripts %}
<script src="https://use.fontawesome.com/a5c000741d.js"></script>

{% endblock %}

</body>
</html>
