{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block head %}

  {{ super() }}
<style>
h3{
  padding-top: 3%;
}
</style>
{% endblock %}
{% block content %}
<section class="container">
<article>
  <h3> Create Recipe </h3>
<form action="{{url_for('newRecipe')}}"  method="POST">
  <div class=" form-row">


<div class="form-group col-md-12">
  <label> Recipe Name: </label>
<input type="text" class="form-control" id="name" name="recipe_name" placeholder="Enter Recipe Name">
</div>

<div class="form-group col-md-12">

  <label>Description: </label>
  <textarea class="form-control" rows="3" cols="15" maxlength="250" name="description" placeholder="Enter Description"></textarea>

</div>

<div class="form-group col-md-6">
<label>Prep Time:</label>
</div>
<div class="form-group col-md-6">
<label>Cook Time:</label>
</div>
  <div class="form-group col-md-3">

    <input type="number" step="1" min="0" name="prep_hours" value="0" placeholder="Hours" class="form-control">
    </div>
  <div class="form-group col-md-3">
  <input type="number" step="1" min="1" max="59" name="prep_minutes" placeholder="Minutes"  class="form-control">
  </div>

  <div class="form-group col-md-3">
    <input type="number" step="1" min="0" name="cook_hours" value="0" placeholder="Hours" class="form-control">
    </div>
  <div class="form-group col-md-3">
  <input type="number" step="1" min="1" max="59" name="cook_minutes" placeholder="Minutes"  class="form-control">
  </div>


<div class="form-group col-md-12">
      <label>Category:</label>
    <input list="categories" name="categories" class="form-control" autocomplete="off">
    <datalist id="categories">
    {% for c in category %}
    <option value="{{c.name.title()}}"></option>
    {% endfor %}
    </datalist>
  </div>

<div class="form-group col-md-12">

    <label>Ingredients: </label>
    <textarea class="form-control" rows="7" cols="15" name="ingredient" placeholder="Enter each ingredient, quantity and measurement abbreviation on one line seperated by space"></textarea>
  </div>
<div class="form-group col-md-12">
    <label>Steps: </label>
    <textarea class="form-control" rows="8" cols="15"  name="step" placeholder="Enter each step per line"></textarea>
  </div>
<div class="col-md-12">
  <div class="form-row">
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-success btn-block">Save</button>
  </div>
  <div class="form-group col-md-6">
    <button type="button"  class="btn btn-secondary btn-block">Cancel</button>
  </div>
</div>

</div>

</form>
</article>
</section>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
