{% extends "base.html" %}
{% block title %}Index {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}
<section class="container">

  <div class="row">
<article class="col-md-12">
  <div class = 'flash'>
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>
</article>
<article class="col-md-6">

<h3>Categories</h3>
{% for i in categories %}
<ul>
<li><a href='{{url_for("category", category = i.name)}}'>{{i.name.title()}}</a> </li>
</ul>
{% endfor %}
</article>
<article class="col-md-6">
  <h3> Latest Recipes</h3>
  {% for i in recipes %}

  <ul>
    <li> <a href='{{url_for("showRecipe", recipe_id = i.id)}}'>{{i.name}} </a> </li>
  </ul>
  {% endfor %}
</article>
</div>
</section>

{% endblock %}
