{% extends "base.html" %}
{% block title %}View Recipe {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
{{super()}}
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
    <div class="col-md-12">
    <h2>{{recipe.name}}</h2>
  </div>
  <div class="col-md-12">
    <p></p>
  </div>

    <div class="col-md-6">
      <p>Prep Time: </p>
    </div>
    <div class="col-md-6">
      <p> Cook Time: </p>
    </div>
  </div>

  <div class="col-md-12">
    <h4> Ingredients: </h4>
  </div>
  <div class="col-md-12">
      <ul>
        <li> </li>
      </ul>
    </div>
      <div class="col-md-12">
      <h4> Directions:</h4>
    </div>
    <div class="col-md-12">
      <ol>
        <li> </li>
      </ol>
</div>
  </div>
  </section>
{% endblock %}
