{% extends "base.html" %}
{% block title %}View Recipe {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
{{super()}}
<style>
.container{
  padding-top: 2%;
  padding-bottom: 5%;
}
</style>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
    <div class="col-md-12">
    <h2>{{recipe.name}}</h2>
  </div>
  <div class="col-md-12">
    <p>{{recipe.description}}</p>
  </div>
  <div class="col-md-6">
    {% if prep_time[0] == 0 %}
    <p>Prep Time: {{prep_time[1]}}m  </p>
    {% else %}
    <p>Prep Time: {{prep_time[0]}}h {{prep_time[1]}}m </p>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if cook_time[0] == 0 %}
    <p>Cook Time: {{cook_time[1]}}m  </p>
    {% else %}
    <p>Cook Time: {{cook_time[0]}}h {{cook_time[1]}}m </p>
    {% endif %}
  </div>
</div>

  <div class="col-md-12">
    <h4> Ingredients: </h4>
  </div>
  {% for i in ingredient %}
  <div class="col-md-12">
      <ul>
        <li>{{i.ingredient}} </li>
      </ul>
    </div>
      {% endfor %}
      <div class="col-md-12">
      <h4> Directions:</h4>
    </div>

    <div class="col-md-12">
      <ol>
        {% for step in steps %}
        <li>{{step.step_description}}</li>
        {% endfor %}
      </ol>
</div>

  </div>
  </section>
{% endblock %}
